/* Global roles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root {
    --margin: 20px;
    --padding: 10px;
    --main-color-purple: #54297c;
    --main2-color-purple : #22053e;
    --main-color-blue : #1c4975; 
    --main2-color-blue : #042341; 
    --second-color-blue: #5083eb;
    --second-color-purple: #620e81b6;
    --transition: 0.5s;
}
body {
    font-family: "Times New Roman", sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    border: 2px black solid;
    width: fit-content;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
h2::before , h2::after{
    content: "";
    background-color: var(--main2-color-purple);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 2s;
    transition-delay: 2s;
    z-index: -1;
} 
h2::before {
    left: -40px;
}
h2::after { 
    right: -40px;   
}
h2:hover {
    color: white;
    border: 2px solid white;
    transition-delay:.5s ;
    transition: 1s;
}
h2:hover::before {
    left: -10px;
    animation: before var(--transition) linear both;
}
h2:hover::after {
    right: -10px;
    animation: after var(--transition) linear both;
    

}

@keyframes after {
    40% {
        width: 20px;
        height: 20px;
        right: 0;
    }
    100% {
        width: 55%;
        height: 100%;
        border-radius: 0;
        right: 0;
    }
}
@keyframes before {
    40% {
        width: 20px;
        height: 20px;
        left: 0;
    }
    100% {
        width: 55%;
        height: 100%;
        border-radius: 0;
        left: 0;
    }
}
a {
    text-decoration: none;
}
/* Media Quire for screens */
    /* Small */
    @media (min-width : 768px){
        .container {
            width: 750px;
        }
    }
       /* Medium */
    @media (min-width : 992px){
        .container
        {
            width: 970px;
        }
    }
       /* Large */
    @media (min-width : 1200px){
        .container {
            width: 1170px;
        }
    }
/* End Global Roles */
/* Header Start  */
.head {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--main2-color-purple);
    color: white;
    z-index: 99;
}
.head .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 18px;

}
.head .container p {
    color: var(--main-color);
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin: 15px 0;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:674px) {
    
}
@media (max-width:767px) {
    .head .container .links {
        margin: 0 auto;
    }
    .head .container .links li {
        height: 30px;
        padding: 10px;
    }
    .head .logo p {
        display: none;
    }
    .head .logo img {
        width: 40px !important;
        height: 40px !important;
    }
    .head .container p {
        width: 100%;
        margin: 0;
    }

    .head .container img {
        width: 40px;
        height: 40px;
    }
}
@media (max-width:510px) {
    .head .container .links li {
        height: 30px;
        padding: 0px;
    }
    .head .container .links li > a {
        padding: 10px !important;
    }
    .head .logo img {
        width: 30px !important;
        height: 30px !important;
    }
}
@media (max-width:552px) {
    .head .logo img {
        width: 30px !important;
        height: 30px !important;
        margin-right: 5px;
    }
    .head .container .links li>a {
        padding: 15px !important;
    }
}
@media (max-width:420px) {
    .head .container .links li>a {
        font-size: 13px;
    }
}
@media (max-width:800px) {
    .head .links {
        display: none !important;
    }
}

.head .logo {
    display: flex;
    align-items: center;
    margin: 0;
    /* margin-left: -10px; */
}
.head .logo img {
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.head .container .links {
    margin: 18px;
}
.head .container .links li {
    list-style: none;
    display: inline-flex;
    align-items: center;
    height: 50px;
    transition: .5s;
    min-width: 50px;
    position: relative;
}
.head a {
    color: black;
    text-decoration: none;

}
.head ul {
    display: flex;
}
.head .container .links li > a {
    color: white;
    transition: .5s;
    position: relative;
    height: 40px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    family-font: "poppins";
}
.head .container li > a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: var(--main-color);
    transition: 0.5s;
}
.head .container a:hover::before {
    left: 0;
}
.head .container .links a:hover {
    background-color: var(--second-color-purple);
}

.head .container ul li:nth-child(3):hover:before {
    opacity: 1;
}
/* Menu Links  */
.head .menu {
    display: none;
}
.head .menu svg {
    font-size: 30px;
    position: relative;
    cursor: pointer;
}
.head .menulinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 40px;
    right: 15px;
    width: fit-content;
    background-color: white;
    z-index: -2;
    padding: 15px 5px;
    background-color: var(--second-color-purple);
    opacity: 0;
    transition: 1s;
}
.head .menulinks a {
    color: white;
    padding: 5px 15px;
    family-font: "poppins"; 
}
.head .menulinks a:hover {
    color: var(--main2-color-purple);
    transition: var(--transition);
}
.head .menulinks li {
    list-style: none;
}

.menu:hover .menulinks {
    opacity: 1;
    z-index: 3;
}

@media (max-width:767px) {
    .head .menu{
        display: flex;
    }
    .head .container {
        margin:18px;
    }
}


/* Header End  */

/* Landing Start  */
#landing {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 30px;
}
#landing::before {
    content: "";
    position: absolute;
    top: -25px;
    width: 100%;
    height: 100%;
    background-color: var(--second-color-purple);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
#landing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: calc(100vh - 90px); 
}
#landing .container img {
    width: 400px;
    height: 300px;
}
#landing .container .image {
    margin-top: -20px;
    animation: move2 4s infinite linear;
}
#landing .text {
    padding: 20px;
    color: white;
    margin-top: -40px;  
    text-align: center;
}
#landing .text h1 {
    font-weight: 800;
    font-size: 40px;
    font-family: "poppins";
}
#landing .text p {
    font-size: 30px;
    /* opacity: 0.6; */
    margin-top: 10px;
    
}
#landing .apply {
    padding: 15px 38px;
    bottom: 150px;
    font-size: 21px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    color: black;
    border-radius: 8px;
    background-color: var(--second-color-purple);
    text-align: center;
}
#landing .apply:hover {
    background-color: var(--main-color-purple);
    color: white;
    transition-delay: .5s;
    transition: 1s;
}
#landing .go-down {
    bottom: 45px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    animation: move 1.5s infinite   ;
}
#landing svg {
    color: white;     
}

#landing video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px) brightness(58%);
    /* Sends the video to the background */
}

/* Animation */
@keyframes move {
   0%, 20%, 40%, 60%, 100% {
    transform: translateY(0);
   } 
   30%  , 50% , 70%, 90% {
    transform: translateY(15px);
   }
}
@keyframes move2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
}
@media (max-width:991px){
    #landing .container .image {
        display: none;
    }
    #landing .text {
        text-align: center;
    }
    #landing .text h1 {
        font-size: 30px;
    }
    #landing .text p {
        font-size: 20px;
    }
}
/* Landing End  */
/* Articles Start  */

#articles .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}
#articles .container h3 {
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
        font-family: "poppins";
}
#articles .read-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;

}
#articles .read-articles > div {
    display: flex;
    flex-direction: column;
    box-shadow:   0px 0px 5px 2px  var(--main2-color-blue); ;
    border-radius: 10px;
    border:  #918d8d solid 1px;
    position: relative;
    transition: var(--transition);
}
#articles .read-articles > div:hover {
    transform: translateY(-15px);
}
#articles .read-articles > div img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#articles .read-articles > div h4 {
    padding: 0 10px;
    font-family: "poppins";
    
}
#articles .read-articles > div h5 {
    padding: 15px  10px 5px 0;
    margin: 0;
    color: var(--main2-color-purple);
    font-size: 17px;
    font-family: "poppins";
}

#articles .read-articles > div p{
   color:  #918d8d;
   padding: 0 10px;
}
#articles .read-articles .read {
    padding: var(--padding);
    border-top:2px solid var(--main2-color-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    position: relative;
}
#articles .read-articles a {
    padding: 20px 10px;
    color: var(--main-color-blue);
    text-decoration: none;
}
#articles .read-articles .fa {
    color: var(--main-color);    
    position: absolute;
    right: 20px;
}
#articles .read-articles > div:hover  i {
    animation: move-arrow 0.6s linear infinite;
   
}
@keyframes move-arrow {
    from {
        transform: translatex(0);
    }
    to {
        transform: translatex(10px);
    }
}   
@media (max-width : 1199px) {
    #articles .read-articles {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width : 991px) {
    #articles .read-articles {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width : 569px) {
    #articles .read-articles {
        grid-template-columns: 1fr;
    }
}
/* Articles End  */
/* Welcome courses start  */
#welcome_courses {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 150px;
    text-align: center;
    z-index: 1;
    color: white;
    font-size: 20px;
}
#welcome_courses::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/download.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(30%);
    z-index: -1;
    /* Put behind the text */
}

/* Welcome courses end  */
/* timeline start  */
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline h3 {
    text-align: center;
    font-size: 30px;
    color: var(--main2-color-purple);
    font-family: "poppins";
}
.timeline ul {
    background:var(--second-color-purple);
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: var(--main2-color-purple);
    color: white;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--main2-color-purple) transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--main2-color-purple)
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: "poppins";
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: var(--main2-color-purple);
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--main2-color-purple) transparent transparent;
    }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}
/* timeline end  */
/* form :start */
#contact {
    padding-top: 150px;
    margin-bottom: 50px;
}
#contact > h3 {
    color: var(--main2-color-purple);
    font-size: 30px;
    text-align: center;
    font-family: "poppins";
}
#contact >div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 150px 30px 0 30px;
}
#contact .connect {
    padding: 30px;
    background-color: var(--second-color-purple);
    text-align: center;
    border-radius: 20px;
}
#contact .connect h3 {
    font-size: 25px;
    font-family: "poppins";
}
#contact .connect p:first-of-type{
    opacity: 0.7;
    margin-bottom: 50px;
}
#contact .connect p  {
    display: flex;
    align-items: center;
    font-family: "poppins";
}
 #contact .connect a {
    color: var(--main2-color-purple);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
    align-self: flex-start;
 }
#contact .connect p span {
    color: var(--main2-color-purple);
    font-weight: bold;
    
}
#contact .connect  svg{
    color: white;
    background-color: var(--main2-color-purple);
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.form {
    margin: auto;
    align-self: center;
}
.form h3 {
    color: var(--main2-color-purple);
    text-align: center;
    font-family: "poppins";
}
.form h4 {
    color: var(--second-color-purple);
    margin-top: -5px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    position: relative;
}

input, div > input, 
textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--second-color-purple);
    margin:  15px 0;
    width: 100%;
}

textarea {
    padding: 30px;
}
#contact form >div {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}
#contact form>div >div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#contact form  label {
    margin-bottom: -7px;
    color: var(--main2-color-purple);
}
button {
    padding: 12px;
    background: var(--second-color-purple);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "poppins";
}

button:hover {
    background:var(--main-color-purple);
    transition: var(--transition);
}
@media (max-width : 877px) {
    #contact >div {
            grid-template-columns: 1fr ;
    }
    #contact .connect {
        padding: 0 50px 10px;
    }
    #contact .form {
        padding: 0 40px;
        margin-top: 30px;
    }
}
@media (max-width : 480px){
    #contact .form {
        margin: 0;
        padding: 0 !important;
        width: 100%;
    }
}
/* form :end */

/* Blog start */
#blog {
    display: flex;
    flex-direction: column;
    padding: 120px 70px;
    justify-content: center;
}
#blog h3 {
    text-align: center;
    font-size: 30px;
    font-family: "poppins";
}
#blog .content {
    padding: 0 100px  ;
    /* background-color: var(--second-color-purple); */
}
#blog .content div{
    display: flex;
    flex-direction: column;
    margin: 40px;
    background-color: var(--second-color-purple);
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}
#blog .content h4 a {
    font-size: 20px;
    color: black;
    text-decoration: underline;
}
#blog h5 {
    text-align: center;
    margin-top: 0;
    font-size: 15px;
}
#blog .content div p {
    display: flex;
    justify-content: space-between;
    color: white;
    opacity: 0.7;
    margin: 0;
}
#blog .content div> a {
    color: white;
    background-color: var(--main2-color-blue);
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
}
#blog .content div>a:hover {
    background-color: var(--main2-color-purple);
    scale: 1.03;
    transition: var(--transition);
}
@media (max-width:1200px) {
    #blog {
        padding: 70px;
    }
    #blog .content{
        padding: 0;
    }
}
@media (max-width:870px) {
    #blog {
        padding: 30px;
    }
}
@media (max-width:870px) {
    #blog {
        padding: 20px;
    }
    #blog .content div {
        margin: 20px 0px;
    }
}
/* Blog end */
/* Each article start  */
.each {
    text-align: center;
    padding-top: 130px;
}
.each h3 {
    font-size: 30px;
}
.each h4 {
    font-size: 25px;
}
.each h5 {
    opacity: 0.4;
    margin-top: -15px;
}
/* Each article end  */
/* Features Start */
#features {
    padding: 20px;
    padding-top: 70px;
}
 #features h3 {
    padding-top: 100px;
    text-align: center;
    color: var(--main2-color-purple);
    font-size: 40px;
    font-family: "Poppins", sans-serif;
 }
#features .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
    justify-content: center;
}
#features .content > div {
  display: flex  ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 40px;
  position: relative;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid  rgba(12, 26, 32, 0.32);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#features .content > div .holder {
    overflow: hidden;
    position: relative;
}
#features .content > div .holder::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0 0 160px 450px;
    bottom: 2px;
    right: -2px;
    z-index: 3;
    transition: var(--transition);
}
#features .content > div .holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;
    z-index: 2; 
}
#features .content > div:first-child .holder::before {
    background-color:var(--second-color-blue) ;
    opacity: 0.4;
}
#features .content > div:nth-child(2) .holder::before {
    background-color:var(--second-color-blue) ;
    opacity: 0.4;
}
#features .content > div:last-child .holder::before {
    background-color:var(--second-color-blue) ;
    opacity: 0.4;
}
#features .content div img {
    width: 300px;
    height: 350px;
}
#features h4 {
    font-size: 30px;
    margin: auto;
    position: relative;
    font-family: "poppins";
}
#features .content > div:first-child h4::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background-color:var(--second-color-blue) ;
}
#features .content > div:nth-child(2) h4::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    background-color:var(--second-color-blue) ;
}
#features .content > div:last-child h4::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 3px;
    background-color:var(--second-color-blue) ;
}
#features p {
    text-align: center;
    opacity: 0.6;
    line-height: 1.5;
    padding: 15px;
}
#features .content > div a {
   padding: 10px;
    width: 100px;
    margin: var(--margin);
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    position: relative;  
   overflow: hidden;
}
#features .content > div a::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 105%;
    height: 105%; 
    transition: var(--transition);
    z-index: -1;
}
#features .content > div:first-child a {
    color: var(--main-color-blue);
    border: var(--main-color-blue) solid;
}
#features .content > div:first-child a::after{
    background-color: var(--main-color-blue);
}

#features .content > div:last-child a {
    color: var(--main-color-blue);
    border: var(--main-color-blue) 3px solid;
}
#features .content > div:last-child a::after{
    background-color: var(--main-color-blue);
}

#features .content > div:nth-child(2) a {
    color: var(--main-color-blue);
    border:var(--main-color-blue) 3px solid;
}
#features .content > div:nth-child(2) a::after{
    background-color:var(--main-color-blue);
    z-index: -1;
}
/* Hover  */
#features .content > div:hover .holder::after {
    border-color: transparent transparent white transparent;
    border-width: 160px 450px 160px 0px;
}
#features .content  a:hover::after {
    transform: translateX(97%);
    color: white;
}
#features .content > div  a:hover {
    color: white;
    z-index: 10;
    transition-delay: .2s;
}

/* Features End  */
/* Text Start  */
#aa {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 90px;
    color: white;
    font-size: 30px;
    z-index: 1;
    font-family: "poppins";
}
#aa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/courses.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(4px) brightness(30%);
    z-index: -1;
    /* Put behind the text */
}

/* Text End  */



/* How It Works Start  */
#work {
    background-color: white;
    margin: 50px 0 0;
    padding: 20px;
}
#work .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: var(--margin) auto;
    width: 90vw;
}
#work .container img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
}
#work .image{
    display: flex;
    align-items: center;
    position: relative;
    margin-right:30px ;
    border-radius:50% ;
    animation: move2 5s infinite ;
}
#work .sal {
    display: flex;
}
#work .content p {
    opacity: 0.6;
    margin-bottom: 0;
}

#work .container .content {
    padding: 0;
    display: flex;
    margin-top: 40px;
}
#work .content > div, 
#work .first1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color-purple);
    margin: 20px;
    line-height: 25px;
    padding: 30px;
    border: 3px solid white;
    border-radius: 30px;
}
#work .first1 {
    margin-right: 80px;
}
#work .content svg, 
#work .first1 svg {
    display: inline-flex;
    font-size: 30px;
    z-index: 1;
    color: var(--main-color);
    padding: 0px 10px;
}
#work .content .text, 
#work .first1 .text {
     padding: 10px;
     z-index: 1;
     color: black;
}
#work .content h4,  
#work .first1 h4 {
    margin: 0 0 10px 0;
    display: inline;
    font-size: 30px;
    font-family: "poppins";
}

#work .first1:last-child {
    margin-right: 20px;
}
#work .content p, 
#work .first1 p{
    opacity: 0.8;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 2;
}
@media (max-width : 991px) {
    #work .container {
        flex-direction: column;
    }
    #work .image {
        display: none;
    }
    #work .first1 {
        margin-right: 20px ;
    }
    #work .container img {
        width: 150px; 
        height: 150px;
    }
    #work .content  {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    #work {
        padding: 20px 0;
        margin: 20px 0;
        display: flex;
        justify-content: center;
    }
    #work .container {
        padding: 20px 0;
        margin: 20px 0;
        width: 100vw;
    }
}
@media (max-width: 1225px) {
    #work .content {
        flex-direction: column;
    }
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*  How It Works End  */
/* Stats Start */
#stats {
    margin-top: 0;
    background-color: var(--main-color-purple);
    position: relative;
    padding: var(--margin);
}
#stats::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #cbc9c9de;
}
#stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    max-width: 1200px;
    max-width: 100%;
    gap: 20px;
    margin-top: var(--margin);
    margin: 20px auto;
}
#stats .container div {
    background-color: white;
    padding: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
}
/*  */
#stats .container div svg {
    width: 40px;
    color: var(--main2-color-purple);
    height: 40px;
}
#stats .container div h4 {
    margin: 10px;
    font-size: 50px;
    color: var(--main-color-blue);
}
#stats .container div p {
    color: var(--main-color-blue);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/*   Stats End  */
#team  {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 30px;
    padding: 50px;
    margin: 0 30px ;
    text-align: center;
}
#team div {
    margin: 20px 0;
}
#team img {
    width: 180px;
    height: 240px;
    border-radius: 10px;
}
#team h4 {
    font-size: 22px;
    margin-bottom: 0;
    font-family: "poppins";
}
#team p {
    font-size: 20px;
}
#team svg {
    color: var(--main2-color-blue);
    font-size: 20px;
    padding: 7px;
}
@media (max-width:800px) {
    #team {
        padding: 0 !important;
    }
} 
@media (max-width:665px) {
    #team  {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
    }
}
/* Footer Start  */
#footer {
    background-color:var(--main2-color-blue);
}
#footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px, 1fr));
    gap: 30px;
    padding: 50px 30px;
    max-width: 1200px;
}
#footer .container > div {
    padding: var(--padding);
    text-align: center;
}
/* first column  */
#footer .container > div h3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    font-family: "poppins";
}
#footer .container > div:first-child img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin: 5px;
    filter:grayscale(100%) ;
    transition: 0.3s;
}
#footer .container > div:first-child img:hover {
    filter:grayscale(0%) ;
}
#footer .container > div:first-child svg {
    font-size: 25px;
    margin: 0px 10px 0;
    color: var(--main-color-purple);
}
#footer .container>div:first-child a {
    color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

#footer .container > div p {
    line-height: 1.6;
    color: #ccc;
}

/* second column */
#footer .container > div > div {
    align-items: center;
    margin-bottom: 15px;
    margin-left: 60px;

}
#footer .container > div > div > svg {
    color: #ccc;
    font-size: 20px;
    margin-right: 20px;

} 
#footer .container > div > div > p {
    margin: 0;
    display: block;
}
#footer .container > div > div> h4 {
    text-decoration: underline;
    color: white;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin: 20px;
    margin-top: 5px;
    margin-left: 0;
}


@media (max-width : 570px) {
    #footer .container > div {
        width: 100%;
        text-align: center;

    }
    #footer .container > div li {
        width: fit-content;
        margin: 0 auto;
    }
    #footer .container > div > div  {
        flex-direction: column;
        text-align: center;
    }
    #footer .container > div > div > p  {
        margin: 0 auto;
        text-align: center;
        width: inherit;
    }
    #footer .copy-right {
        display: block;
    }
    #footer .copy-right p:last-child {
        display: none;
    }
}
@media (max-width : 988px) {
    #footer .container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
    }
}
@media (max-width: 700px) {
    #footer .container >div >div {
      margin-left: 0 !important;
    }
}
/* Copy Right  */
.copy-right{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: var(--margin);
    width: 100%;
    border-top:2px solid #eee;
    text-align: center;
}
/* Footer End  */
/* About Start  */
#about {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}

#about .container {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
}
/* Start of Content  */
#about .container .content {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 100px;
    justify-content: space-between;
    max-width: 100%;
    padding: var(--padding);
    margin-top: 10px;
}

#about .container .image {
    position: relative;
    width: 260px;
    height: 345px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#about .container .about-text {
    padding: 30px;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#about .container .about-text .first {
    font-weight: bold;
    line-height: 1.8;
    margin: 50px 0;

}

#about .container .about-text .second {
    opacity: 0.8;
    line-height: 1.8;
    margin: 20px 0;
}

#about .container .about-text hr {
    width: 300px;
    background-color: var(--main-color);
    height: 2px;
    margin: 10px 0;
}
/* End of Content  */
/* For more screens */
@media (max-width : 992px) {
    #about .container .content {
        grid-template-columns: 1fr;
        gap: 0;
        text-align: center;
        margin: 100px 0 0;
    }
    #about .container .image::after,
    #about .container .image::before {
        display: none;
    }

    #about .container .about-text {
        text-align: center;
    }

    #about .container hr {
        margin: 0 auto !important;
    }
}
/* Page End  */
/* File End  */

